* {
    background-color: #313052
}
nav {
    background-color: aliceblue;
}
.container{
    background-color: aliceblue;
}
.navbar{
    background-color: aliceblue;
}
.navbar-brand {
    background-color: aliceblue;
}
.nav-link {
    background-color: aliceblue;
}
.menu li:hover .submenu {
    display: block;
}

.imagen-index img {
    display: flex;
    margin: auto;
}

.biografia {
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 100px;
    padding: 30px;
    text-align: justify;
    line-height: 30px;
}

.spotify {
    display: flex;
    margin: 30px 0px 0px 150px;
}



.flex-container {
    display: flex;
    margin: auto;

}

.flex-container>div {
    padding: 30px;
}

.media {
    margin-top: 40px;
    text-align: center;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.galeria-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 300px 300px 300px;
    margin-top: 45px;
    padding-left: 70px;
    padding-right: 70px;
}

.galeria-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.galeria-item img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    filter: blur(2px);
    transition: filter 0.3s ease-in;
}

.galeria-item img:hover {
    filter: blur(0px);
}
.Discografia-contenedor h2{
    margin-top: 40px;
    text-align: center;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.discografia-grid-container {
    display: grid;
    grid-template-columns:200px 200px 200px 200px;
    grid-template-rows: 80px repeat(24, 200px);
    padding: 30px;
    margin-left: 300px;
  }
  .Discografia {
    background-color: aliceblue;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.Discografia img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    
}
.imagen-contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    padding: 60px;
    max-width: 400px;
    background-color: aliceblue;
    margin: 0 auto;
  }
  
  form input, form textarea{
    margin-bottom: 15px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
    border: none; 
    color: #525c66; 
    font-size: 1em;
    resize: none; 
  }
  
  form button {
      display: block;
      background-color: #0095eb;
      padding: 10px 45px 10px 45px;
      border: 0;
      font-size: 1em; 
      color: 	white;
    font-family: "Roboto", sans-serif;
  }
  form button: hover{
      background-color: #046193;
  }
  textarea {  resize: none;}