.formulario-contacto {
  box-sizing: border-box;
  @include sizes (50%,50%);
  margin: auto;
}
input[type=text], select, textarea, input[type=date] {
  width: 100%;
  padding: 12px;
  border: 1px solid $color-aliceblue;
  border-radius: 4px;
  resize: vertical;
}
select {
  @extend input[type=text]
}
textarea {
  @extend input[type=text]
}
input [type=date]{
  @extend input[type=text]
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: $color-blanco;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: $color-submit;
}

.container {
  border-radius: 5px;
  background-color: $color-formulario;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row-submit {
  padding-top: 10px;
      }  


