form{
  padding: 60px;
  max-width: 400px;
  background-color: $color-aliceblue;
  border-style: ridge ;
  margin: 10px auto;

    input, textarea{
      font-family: "Roboto", sans-serif;
      width: 100%;
      box-sizing: border-box; 
      border: $color-negro; 
      color: $color-formulario; 
      font-size: 1em;
      }
}