.imagen-index {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    @include sizes(70%,70%)
    
}

.galeria-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 300px 300px 300px;
    margin-top: 45px;
    padding-left: 70px;
    padding-right: 70px;

    .galeria-item {
        background-color: $color-galeria;
        border: 1px solid $color-negro;
        padding: 20px;
        font-size: 30px;
        text-align: center;
        }

        & img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        filter: blur(2px);
        transition: filter 0.3s ease-in;
        
            &:hover {
            filter: blur(0px);
            }
        }
    }
.img-fluid{
    filter: sepia(60%);

    &:hover{
        filter: none;
        }
    }
/* hover styles */
.discografia-listado {
    position: relative;
    padding-top: 5px;
    margin-bottom: 10px;
  }
  
  .discografia-imagen {
    line-height: 0;
    overflow: hidden;
  }
  
  .discografia-imagen img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
  }
  
  .discografia-descripcion {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    text-align: center;
    background: $color-discografia;
    color: $color-blanco!important;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .discografia-descripcion-grande {
        @extend .discografia-descripcion;
        font-size: 1em;
    }
    /* position the text in t’ middle*/
    
  
  
  .discografia-listado:hover .discografia-descripcion {
    opacity: 1;
  }
  
  .discografia-listado:hover .discografia-imagen img {
    filter: blur(2px);
  }
  
  
  /* for touch screen devices */
  @media (hover: none) { 
    .discografia-descripcion {
      opacity: 1;
    }
    .discografia-imagen img {
      filter: blur(2px);
    }
  }

.imagen-contact{
    display: flex;
    justify-content: center;
    align-items: center;
}